<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Personal</title>
  <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body style="background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7)">

<div class="row" th:fragment="list" xmlns:th="http://www.thymeleaf.org">
  <div th:each=" o : ${operations}" class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title" th:text="${#dates.format(o.date, 'dd.MM.yyyy')}">Date</h5>
        <p class="card-text" th:text="${o.amount}">Amount</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div>




<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:rel="stylesheet" th:src="@{assets/bootstrap-slider/bootstrap-slider.js}"></script>

<script>
  $("#priceRange").slider({});
  $("#priceRange").on("slideStop", function (stopEvent) {
    var range = stopEvent.value;
    $("#rangeMin").val(range[0]);
    $("#rangeMax").val(range[1]);

    $.get("/operations?min=" + range[0] + "&max=" + range[1], function (data) {
      $("#operations").html(data);
    });
  });
</script>

</body>
</html>
