<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/cssandjs/registration.css}" rel="stylesheet"/>
    <title>Registration</title>
</head>
<body th:align="center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center">Register</h2>
                <div class="card-body py-md-4">
                    <form _lpchecked="1" th:action="@{/registration}" th:object="${userObject}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{patronymic}" placeholder="Patronymic">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{surname}" placeholder="Surname">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" th:field="*{confirm}"
                                   placeholder="confirm-password">
                        </div>
                        <div><input type="text" th:value="${error}"></div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a href="/login">Login</a>
                            <button class="btn btn-primary">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>